<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/class.css">
  
<!--Leaflet CSS-->

     <link 
     rel="stylesheet" 
     href="https://unpkg.com/leaflet/dist/leaflet.css"
     integrity=""
     crossorigin=""
     />
     

<!--ESTRUCTURA DE BUSCADOR PRESENTE EN TODAS LAS PÁGINAS-->
  
</head>

 <div class="container">


                    <header class="cabezera" id="cabezera"><h1>ART TOYS</h1></header>

                    <nav class="buscador">
                    <hr>
                       <ul class="estructura">
        
                            <li><a href="../index.html">INICIO</a></li>
                            <li><a href="./galeria.html">GALERIA</a></li>
                            <li><a href="./presupuestos.html">PRESUPUESTOS</a></li>
                            <li><a href="./views/contacto.html" class="activo">CONTACTO</a></li>

                       </ul>
                   <hr>
                   </nav>

<!--CONTACTO DE LA EMPRESA-->

<h1>Contacto</h1>

<p> EMPRESA: Urban Art Figures</p>
<p>Dirección: Málaga, España</p>
<p>Email: contacto@urbanart.com</p>

<div id="map"></div>

<!-- Leaflet JS -->

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!--PIE DE PAGINA-->

<footer class="footer-contenido">

    <div class="redes">
      <p>Siguenos:</p>
      <img src="../images/facebook.png" alt="Facebook" width="30" height="30">
      <img src="../images/instagram.png" alt="Instagram" width="30" height="30">
      <img src="../images/twiter.png" alt="Twiter" width="30" height="30">
    </div>
            
    <div class="direccion">
      <p>Art toys</p>
      <p>Calle Larios, Malaga</p>
      <p>España</p>
    </div>

    <div class="legal">
      <p>&copy; 2026 ART TOYS</p>
      <p>Aviso legal</p>
    </div>
    
 </footer>

    


<script src="../js/contacto.js"></script>

 </div>

</body>

</html>