<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/class.css">
</head>

<!--ESTRUCTURA DE BUSCADOR PRESENTE EN TODAS LAS PÁGINAS-->

<body>

    <div class="container">

   
<header class="cabezera" id="cabezera"><h1>ART TOYS</h1></header>

<nav class="buscador">
    <hr>
    <ul class="estructura">
        
       <li><a href="../index.html">INICIO</a></li>
       <li><a href="./galeria.html" class="activo">GALERIA</a></li>
       <li><a href="./presupuestos.html">PRESUPUESTOS</a></li>
       <li><a href="./contacto.html">CONTACTO</a></li>

    </ul>
    <hr>
</nav>

<section class="quesomos">

   <h2>QUE REPRESENTAMOS?</h2>
      <p>Somos una marca de figuras de arte urbano que convierte la calle en piezas coleccionables.
         Cada figura es más que un objeto: es una historia, una actitud y una forma de expresión nacida de la cultura urbana. Inspiradas en el graffiti, el diseño contemporáneo y la creatividad sin reglas, nuestras piezas están pensadas para quienes buscan algo diferente, auténtico y con personalidad.
         Trabajamos con ediciones limitadas, lo que hace que cada figura sea única y exclusiva. No son juguetes, son arte que puedes tener en tus manos.
         Nuestra marca conecta con una comunidad que valora lo original, lo alternativo y lo que rompe con lo convencional.</p>

</section>

<!--SLIDER DE IMAGENES DE LOS PRODUCTOS-->

<section class="galeria">

      <h2>Galeria</h2>

      <div class="carrusel">
            <button id="prev">◀️</button>

            <div id="contenedor-imagen">
            <img id="imagen" src="../images/figura2.jpg" alt="imagen-galeria" width="400" height="400">
      </div>

          <button id="next">▶️</button>

      </div>
</section>

<!--ENLACE JAVASCRIPT-->

<script src="../js/galeria.js"></script>

<!--PIE DE PAGINA-->

<footer class="footer-contenido">

    <div class="redes">
      <p>Siguenos:</p>
      <img src="../images/facebook.png" alt="Facebook" width="30" height="30">
      <img src="../images/instagram.png" alt="Instagram" width="30" height="30">
      <img src="../images/twiter.png" alt="Twiter" width="30" height="30">
    </div>
            
    <div class="direccion">
      <p>Art toys</p>
      <p>Calle Larios, Malaga</p>
      <p>España</p>
    </div>

    <div class="legal">
      <p>&copy; 2026 ART TOYS</p>
      <p>Aviso legal</p>
    </div>
    
 </footer>



    </div>

</body>

</html>